* {
    margin: 0 0;
    padding: 0 0;
}
#top-part {
    background-color: #1f2937;
    height: 562px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    position: relative;
    left: 85px;
    top: 15px;
}
.links {
    list-style: none;
    display: flex;
    gap: 30px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    position: relative;
    left: 750px;
    bottom: 6px;
}
.websiteinfo {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    position: relative;
    left: 85px;
    top: 100px;
}
.websitepara {
    color: #e5e7eb;
    font-size: 18px;
    position: relative;
    left: 85px;
    top: 110px;
}
.signupbttn {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 125px;
    position: relative;
    left: 85px;
    top: 140px;

}
.imgbox {
    background-color: #6D747D;
    height: 200px;
    width: 400px;
    position: relative;
    left: 750px;
    bottom: 90px;
}
.imgtxt {
    text-align: center;
    color: #e5e7eb;
    font-size: 18px;
    position: relative;
    top: 90px;
}
.bodytxt {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.boxlist {
    list-style: none;
    display: inline-flex;
}
.boxone, .boxtwo, .boxthree, .boxfour {
    border: 4px solid #3882f6;
    align-items: center;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    position: relative;
    left: 85px;
    top: 35px;
}